:root {  
    font-size: 62.5%; /* 1rem = 10px */
  }
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(44, 83, 100);
    color: #FFF;
    font-size: 1.8rem;
}

h1, h2, h3 {
    margin: 1rem 0px;
    font-weight: 300;
}

button {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 3rem;
    outline: none;
    border: 0;
}

